<p id="notice"><%= notice %></p>

<p>
  <strong>Scenario:</strong>
  <%= @section.scenario %>
</p>

<p>
  <strong>Title:</strong>
  <%= @section.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @section.status %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
