<h1>Listing projects</h1>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Tranlated</th>
        <th>Edited</th>
        <th>Total</th>
        <th>Patch</th>
      </tr>
    </thead>
    <tbody>
    <% @projects.each do |project| %>
      <% current_project(project) %>
      <tr>
        <td><%= project.avatar %></td>
        <td><%= project.name %></td>
        <td><%= project.translated %></td>
        <td><%= project.edited %></td>
        <td><%= project.total %></td>
        <td><%= project.patch %></td>
      <tr />
    <% end %>
    </tbody>
  </table>
</div>


